@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px); } }

@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../assets/img/Fondo2.jpg);
  background-color: grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.encabezadoIndex {
  display: flex;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: space-around; }
  .encabezadoIndex .special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal; }
  .encabezadoIndex li a {
    color: white;
    text-decoration: none;
    font-size: 30px; }
  .encabezadoIndex li:nth-child(3) a {
    font-weight: bold;
    font-size: 3.125rem; }

.iconosRedes ul {
  display: flex;
  background-color: rgba(0, 0, 0, 0.795);
  border: none;
  text-align: center;
  justify-content: space-around;
  list-style-type: none;
  flex-direction: row;
  padding: 0, 0, 80px, 80px;
  margin: 0; }
  .iconosRedes ul ul li img {
    padding-top: .625rem;
    padding-bottom: .625rem;
    max-width: 1.875rem;
    max-height: 1.875rem; }

.textoInicio {
  background-color: rgba(0, 0, 0, 0.712);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  justify-content: spa;
  display: flex;
  padding-right: 134px; }

.textoInicio h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: none;
  height: none;
  font-size: 6.75rem;
  padding: none;
  margin: none;
  padding-right: 36.8px;
  padding-left: 164.8px; }

.tituloTaylor {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: white;
  width: 90%;
  padding-left: 10%;
  text-shadow: 2px 2px black; }
  .tituloTaylor h2 {
    padding-bottom: 1.25rem;
    font-size: 2.75rem;
    text-align: center; }
  .tituloTaylor p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: none;
    height: none;
    font-size: 1.25rem;
    padding: none;
    margin: 0; }

.videoTaylor {
  padding-top: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.712);
  align-items: center iframe;
    align-items-padding-left: 40px; }
  .videoTaylor div iframe {
    padding-left: 40px; }
  .videoTaylor div h2 {
    padding-top: 40px;
    font-size: 2.5rem;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-bottom: 1.25rem; }
  .videoTaylor div p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: justify;
    width: 95%;
    height: 0;
    font-size: 1.875rem;
    padding: 0;
    margin: 0;
    padding-left: 1.25rem;
    text-align: center; }

.cuadrado {
  display: grid;
  grid-template-columns: repeat(5, 12.5rem);
  grid-template-rows: repeat(2, 12.5rem);
  align-content: center;
  justify-content: center;
  padding-bottom: 26px;
  background-color: rgba(0, 0, 0, 0.712);
  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem; }
  .cuadrado h2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 40px;
    align-self: center;
    color: white; }

.videoUno {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 248px;
  height: 180px;
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.videoDos {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 248px;
  height: 180px;
  align-self: end;
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.videoTres {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 248px;
  height: 180px;
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.circulos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.875rem;
  padding-top: 1.25rem; }

.circulo1 {
  width: 20rem;
  height: 20rem;
  background-color: #313131;
  border-radius: 50%;
  -webkit-animation: rotate-center 10s ease-in-out infinite both;
  animation: rotate-center 10s ease-in-out infinite both; }
  .circulo1:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 30px white; }

.circulo2 {
  width: 20rem;
  height: 20rem;
  background-color: #313131;
  border-radius: 50%;
  -webkit-animation: rotate-center 10s ease-in-out infinite both;
  animation: rotate-center 10s ease-in-out infinite both; }
  .circulo2:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 30px white; }

.introHistoria div {
  display: grid;
  grid-template-columns: repeat(7, 10.5rem);
  grid-template-rows: repeat(3, 10.5rem);
  background-color: rgba(0, 0, 0, 0.712);
  justify-content: center; }
  .introHistoria div h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
    font-size: 4.875rem;
    align-self: end;
    justify-self: center; }
  .introHistoria div img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    align-items: end;
    justify-self: center; }
  .introHistoria div p {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    color: white;
    justify-self: center;
    align-self: center;
    font-size: 1.25rem;
    padding-top: 4rem;
    text-align: justify; }

.historiaDos {
  display: grid;
  grid-template-columns: repeat(5, 10.5rem);
  grid-template-rows: repeat(3, 10.5rem);
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px  black; }
  .historiaDos h2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
    align-self: end;
    justify-self: center;
    padding-bottom: .5125rem;
    font-size: 3.5625rem; }
  .historiaDos p {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    color: white;
    text-align: justify;
    font-size: 1.7625rem; }

.HistoriaTres {
  display: grid;
  grid-template-columns: repeat(7, 10.5rem);
  grid-template-rows: repeat(3, 10.5rem);
  background-color: rgba(0, 0, 0, 0.712);
  justify-content: center; }
  .HistoriaTres p {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    color: white;
    font-size: 1.40rem;
    text-align: justify;
    padding-right: 4.25rem;
    align-self: center;
    justify-self: center; }
  .HistoriaTres img {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;
    justify-self: center; }

.TituloDisc {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: none;
  font-size: 3.5rem;
  padding: none;
  margin: 1.25rem;
  border-radius: .625rem;
  text-shadow: 3px 3px  black;
  padding-left: 50%;
  font-size: 4rem; }

.disc1-2, .disc3-4, .disc5-6, .disc7-8, .disc9-10 {
  display: grid;
  background-color: rgba(0, 0, 0, 0.712);
  margin: 1.25rem;
  border-radius: 20px 20px 20px 20px;
  grid-template-columns: repeat(8, 9.53rem);
  grid-template-rows: repeat(2, 11rem);
  justify-content: center; }

span {
  display: block;
  font-size: 1.2em;
  padding-bottom: 1rem;
  text-shadow: 2px 2px  black; }

.textDiscUno, .textDiscDos, .textDiscTres, .textDiscCua, .textDiscCin, .textDiscSei, .textDiscSie, .textDiscOch, .textDiscNue, .textDiscDie {
  font-size: 1.50rem;
  align-self: center;
  text-align: center;
  color: white; }

.imgDiscUno, .imgDiscDos, .imgDiscTres, .imgDiscCua, .imgDiscCin, .imgDiscSei, .imgDiscSie, .imgDiscOch, .imgDiscNue, .imgDiscDie {
  align-self: center;
  justify-self: end; }

.textDiscUno {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: .3125rem; }

.imgDiscUno {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscDos {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: .3125rem; }

.imgDiscDos {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscTres {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: .3125rem; }

.imgDiscTres {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscCua {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: .3125rem; }

.imgDiscCua {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscCin {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: .3125rem; }

.imgDiscCin {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscSei {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: .3125rem; }

.imgDiscSei {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscSie {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: .3125rem; }

.imgDiscSie {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscOch {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: .3125rem; }

.imgDiscOch {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscNue {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: .3125rem; }

.imgDiscNue {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; }

.textDiscDie {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: .3125rem; }

.imgDiscDie {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.disc11 {
  display: grid;
  background-color: rgba(0, 0, 0, 0.712);
  margin: 1.25rem;
  border-radius: 20px 20px 20px 20px;
  grid-template-columns: repeat(8, 9.53rem);
  grid-template-rows: repeat(2, 11rem);
  justify-content: center; }

.textDiscOnc {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: .3125rem;
  font-size: 1.60rem;
  align-self: center;
  text-align: right;
  padding-right: .3125rem;
  color: white; }

.imgDiscOnc {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: end;
  padding-left: .3125rem; }

.tituloConcierto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3.5rem;
  margin: 1.25rem;
  width: 50vh;
  justify-content: center;
  align-items: center;
  border-radius: .625rem;
  text-shadow: 3px 3px  black;
  padding-left: 50%;
  font-size: 4rem; }

.secConc1, .secConc2, .secConc3, .secConc4, .secConc5, .secConc6 {
  display: grid;
  background-color: rgba(0, 0, 0, 0.712);
  grid-template-columns: repeat(8, 9.53rem);
  grid-template-rows: repeat(2, 11rem);
  border-radius: 20px 20px 20px 20px;
  margin: 1.25rem; }

.Conc1, .imgConc1, .texConc1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  margin: .625rem;
  color: white; }

.Conc1 {
  font-size: 1.70rem; }

.imgConc1 {
  align-self: end; }

.texConc1 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  font-size: 1.90rem;
  text-align: justify;
  padding-right: 2.3125rem; }

/* Separador */
.Conc2, .imgConc2, .texConc2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  margin: .625rem;
  color: white; }

.Conc2 {
  font-size: 1.70rem; }

.imgConc2 {
  align-self: end; }

.texConc2 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  font-size: 1.90rem;
  text-align: justify;
  padding-left: 2.3125rem; }

/* Separador */
.Conc3, .imgConc3, .texConc3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  margin: .625rem;
  color: white; }

.Conc3 {
  font-size: 1.70rem; }

.imgConc3 {
  align-self: end; }

.texConc3 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  font-size: 1.90rem;
  text-align: justify;
  padding-right: 2.3125rem; }

/* Separador */
.Conc4, .imgConc4, .texConc4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  margin: .625rem;
  color: white; }

.Conc4 {
  font-size: 1.70rem; }

.imgConc4 {
  align-self: end; }

.texConc4 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  font-size: 1.90rem;
  text-align: justify;
  padding-left: 2.3125rem; }

/* Separador */
.Conc5, .imgConc5, .texConc5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  margin: .625rem;
  color: white; }

.Conc5 {
  font-size: 1.70rem; }

.imgConc5 {
  align-self: end; }

.texConc5 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  font-size: 1.90rem;
  text-align: justify;
  padding-right: 2.3125rem; }

/* Separador */
.Conc6, .imgConc6, .texConc6 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  margin: .625rem;
  color: white; }

.Conc6 {
  font-size: 1.70rem; }

.imgConc6 {
  align-self: end; }

.texConc6 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  font-size: 1.90rem;
  text-align: justify;
  padding-left: 2.3125rem; }

.mainPremio {
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 2.25rem; }

.tituloPremio {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 0;
  font-size: 3.5rem;
  padding: 1.25rem;
  margin: 0;
  border-radius: .625rem;
  text-shadow: 3px 3px  black;
  padding-left: 50%;
  font-size: 4rem;
  padding-top: 3.25rem;
  padding-bottom: 3.25rem; }

.premios1-2, .premios3-4, .premios5-6 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 9.53rem);
  grid-template-rows: repeat(2, 8.25rem);
  border-radius: 20px 20px 20px 20px;
  margin: 1.25rem; }

.premioUno, .texPremioUno, .premioDos, .texPremioDos, .premioTre, .texPremioTre, .premioCua, .texPremioCua,
.premioCin, .texPremioCin, .premioSei, .texPremioSei {
  color: white;
  padding-left: 2.3125rem;
  text-align: justify;
  margin-right: .625rem;
  text-shadow: 2px 2px  black; }

.premioUno, .premioTre, .premioCin {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: start;
  font-size: 1.9rem; }

.texPremioUno, .texPremioTre, .texPremioCin {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  font-size: 1.40rem;
  align-self: flex-end; }

.premioDos, .premioCua, .premioSei {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: start;
  font-size: 2rem; }

.texPremioDos, .texPremioCua, .texPremioSei {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  font-size: 1.40rem;
  align-self: flex-end; }

@media (max-width: 1090px) {
  .textoInicio h1 {
    font-size: 5.25rem; }
  .textoInicio {
    display: flex; }
  .Taylor-estrella {
    width: 26.6875rem;
    height: 16.5625rem; }
  .tituloTaylor {
    counter-reset: a; }
  .videoTaylor div h2 {
    font-size: 2rem; }
  .videoTaylor div p {
    font-size: 1.25rem; }
  .cuadrado {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    text-align: center; } }

@media (max-width: 801px) {
  .videoTaylor div iframe {
    padding-top: .625rem;
    width: 31.25rem;
    height: 15.9375rem; }
  .tituloTaylor p {
    font-size: 0.875rem; }
  .Taylor-estrella {
    width: 21.6875rem;
    height: 11.5625rem; }
  .encabezadoIndex li a {
    font-size: 1.475rem; }
  .cuadrado {
    display: grid;
    grid-template-columns: repeat(4, 12.5rem);
    grid-template-rows: repeat(4, 12.5rem);
    align-content: center;
    justify-content: center;
    padding-bottom: 26px;
    background-color: rgba(0, 0, 0, 0.712);
    /*  Esto esta dudoso, cambiar color?  */
    border-bottom-left-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem; }
  .cuadrado h2 {
    font-size: 2.125rem;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; }
  .videoUno {
    width: 60%;
    max-width: 12rem;
    margin: 1rem auto;
    display: block;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4; }
  .videoDos {
    width: 60%;
    max-width: 12rem;
    margin: 1rem auto;
    display: block;
    height: auto;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4; }
  .videoTres {
    width: 60%;
    max-width: 12rem;
    margin: 1rem auto;
    display: block;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 4; }
  .videoTaylor div iframe {
    padding-top: .625rem;
    width: 21.25rem;
    height: 15.9375rem; } }

@media (max-width: 691px) {
  .Taylor-estrella {
    width: 11.6875rem;
    height: 8.5625rem; }
  .textoInicio h1 {
    font-size: 3.25rem; }
  .circulos {
    display: flex;
    flex-direction: column;
    padding: 2.3125rem; }
  .circulo1 {
    width: 15.125rem;
    height: 15.125rem; }
  .circulo2 {
    width: 15.125rem;
    height: 15.125rem; }
  .videoTaylor {
    width: 100%vh;
    flex-direction: column;
    align-items: center; }
    .videoTaylor div iframe {
      width: "760";
      height: "515";
      justify-self: center; }
    .videoTaylor p {
      padding-bottom: 6.25rem; }
  .cuadrado {
    padding-top: 7.875rem; }
  .textoInicio h1 {
    display: none; }
  .encabezadoIndex li:nth-child(1) {
    display: none; }
  .encabezadoIndex li:nth-child(2) {
    display: none; }
  .encabezadoIndex li:nth-child(4) {
    display: none; }
  .encabezadoIndex li:nth-child(5) {
    display: none; }
  .taylorGrande {
    display: block; }
  .Taylor-estrella {
    display: block;
    margin-left: 30%;
    justify-self: center;
    align-self: center;
    width: 18.6875rem;
    height: 13.5625rem; } }

@media (max-width: 400px) {
  .Taylor-estrella {
    width: 16.6875rem;
    height: 11.5625rem; }
  .videoTaylor div iframe {
    padding-top: .625rem;
    width: 22.25rem;
    height: 16.9375rem;
    padding-left: 2.625rem; }
  .cuadrado {
    display: grid;
    grid-template-columns: repeat(1, 12.5rem);
    grid-template-rows: repeat(4, 12.5rem); }
  .cuadrado h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.475rem; }
  .videoUno {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 60%;
    max-width: 12rem; }
  .videoDos {
    grid-column-start: 1;
    grid-column-end: 2; }
  .videoTres {
    grid-column-start: 1;
    grid-column-end: 2; }
  .videoTaylor div iframe {
    padding: 0;
    padding: 1.3125rem;
    padding-left: 1.925rem;
    width: 18.25rem;
    height: 12.9375rem; }
  .videoTaylor div h2 {
    font-size: 1.875rem;
    margin: 0; }
  .videoTaylor div p {
    font-size: .875rem;
    padding-right: 2.3125rem; } }

@media (max-width: 1220px) {
  .introHistoria div {
    grid-template-columns: repeat(5, 10.5rem);
    grid-template-rows: repeat(3, 10.5rem); }
    .introHistoria div h2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .introHistoria div img {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4; }
    .introHistoria div p {
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 4;
      font-size: .9125rem;
      justify-content: center;
      align-content: center;
      padding: 0; } }

@media (max-width: 1160px) {
  .HistoriaTres {
    grid-template-columns: repeat(6, 10.5rem);
    grid-template-rows: repeat(3, 10.5rem); }
    .HistoriaTres .textoTresHistoria {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 4;
      font-size: 1.20rem; }
    .HistoriaTres img {
      width: 176px;
      height: 287px;
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 4; } }

@media (max-width: 1160px) {
  .HistoriaTres {
    grid-template-columns: repeat(4, 10.5rem);
    grid-template-rows: repeat(3, 10.5rem); }
    .HistoriaTres .textoTresHistoria {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
      font-size: 1.20rem; }
    .HistoriaTres img {
      width: 176px;
      height: 287px;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 4; }
  .historiaDos p {
    font-size: 1.30rem; } }

@media (max-width: 850px) {
  .introHistoria div {
    grid-template-columns: repeat(4, 10.5rem);
    grid-template-rows: repeat(3, 10.5rem); }
    .introHistoria div h2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .introHistoria div img {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4; }
    .introHistoria div p {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 4;
      font-size: .8125rem;
      justify-content: center;
      align-content: center;
      padding: 0; }
  .HistoriaTres {
    display: grid;
    grid-template-columns: repeat(3, 10.5rem);
    grid-template-rows: repeat(3, 10.5rem); }
    .HistoriaTres img {
      display: none; }
    .HistoriaTres p {
      font-size: 1.20rem;
      margin: 0;
      padding: 0;
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 4;
      justify-content: center; }
  .historiaDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .historiaDos h2 {
      font-size: 2.25rem;
      text-align: center;
      width: 100%; }
    .historiaDos p {
      font: .3125rem;
      width: 80%; } }

@media (max-width: 690px) {
  .introHistoria div {
    grid-template-columns: repeat(2, 10.5rem);
    grid-template-rows: repeat(3, 10.5rem); }
    .introHistoria div h2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .introHistoria div img {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; }
    .introHistoria div p {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 6;
      font-size: .8125rem;
      justify-content: center;
      align-content: center;
      padding: 0; } }

@media (max-width: 505px) {
  .HistoriaTres {
    grid-template-columns: repeat(2, 10.5rem);
    grid-template-rows: repeat(4, 10.5rem); }
    .HistoriaTres .textoTresHistoria {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 5;
      font-size: 1.10rem;
      margin: 0;
      padding: 0; } }

@media (max-width: 360px) {
  .HistoriaTres {
    grid-template-columns: repeat(2, 10.5rem);
    grid-template-rows: repeat(4, 10.5rem); }
    .HistoriaTres .textoTresHistoria {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 5;
      width: 90%;
      font-size: 1.0625rem;
      margin: 0;
      padding: 0; }
    .HistoriaTres .introHistoria div {
      grid-template-columns: repeat(2, 10.5rem);
      grid-template-rows: repeat(4, 10.5rem); }
      .HistoriaTres .introHistoria div p {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        font-size: .9125rem;
        justify-content: center;
        align-content: center;
        padding: 0;
        width: 90%; } }

@media (max-width: 1200px) {
  .premios1-2, .premios3-4, .premios5-6 {
    grid-template-columns: repeat(7, 9.53rem);
    grid-template-rows: repeat(2, 6rem); }
  .premioUno, .premioTre, .premioCin, .premioDos, .premioCua, .premioSei {
    font-size: 1.70rem; }
  .texPremioUno, .texPremioTre, .texPremioCin, .texPremioDos, .texPremioCua, .texPremioSei {
    font-size: 1.30rem;
    width: 90%; } }

.premios1-2, .premios3-4, .premios5-6 {
  grid-template-columns: repeat(7, 9.53rem);
  grid-template-rows: repeat(2, 6rem); }

.premioUno, .premioTre, .premioCin {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: start; }

.texPremioUno, .texPremioTre, .texPremioCin {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: flex-end; }

.premioDos, .premioCua, .premioSei {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: start; }

.texPremioDos, .texPremioCua, .texPremioSei {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: flex-end; }

@media (max-width: 1200px) {
  .premios1-2, .premios3-4, .premios5-6 {
    grid-template-columns: repeat(6, 9.53rem);
    grid-template-rows: repeat(2, 6rem); }
  .premioUno, .premioTre, .premioCin {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: start; }
  .texPremioUno, .texPremioTre, .texPremioCin {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: flex-end; }
  .premioDos, .premioCua, .premioSei {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: start; }
  .texPremioDos, .texPremioCua, .texPremioSei {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: flex-end; } }

@media (max-width: 865px) {
  .premios1-2, .premios3-4, .premios5-6 {
    grid-template-columns: repeat(3, 9.53rem);
    grid-template-rows: repeat(4, 6rem);
    padding: .3125rem; }
  .premioUno, .premioTre, .premioCin {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    padding-top: .625rem; }
  .texPremioUno, .texPremioTre, .texPremioCin {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: flex-end; }
  .premioDos, .premioCua, .premioSei {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    justify-self: center;
    padding-top: .625rem; }
  .texPremioDos, .texPremioCua, .texPremioSei {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    align-self: flex-end; } }

@media (max-width: 450px) {
  .premios1-2, .premios3-4, .premios5-6 {
    grid-template-columns: repeat(2, 9.53rem);
    grid-template-rows: repeat(4, 6rem); }
  .premioUno, .premioTre, .premioCin, .premioDos, .premioCua, .premioSei {
    font-size: 25.2px;
    align-items: end;
    padding-top: 30px; }
  .texPremioUno, .texPremioTre, .texPremioCin, .texPremioDos, .texPremioCua, .texPremioSei {
    font-size: 18px;
    width: 90%;
    align-items: end; } }

@media (max-width: 420px) {
  .premios1-2, .premios3-4, .premios5-6 {
    grid-template-columns: repeat(2, 9.53rem);
    grid-template-rows: repeat(4, 6rem); }
  .premioUno, .premioTre, .premioCin, .premioDos, .premioCua, .premioSei {
    font-size: 23.2px;
    align-items: end;
    padding-top: 20px; }
  .texPremioUno, .texPremioTre, .texPremioCin, .texPremioDos, .texPremioCua, .texPremioSei {
    font-size: 16px;
    width: 90%;
    align-items: end; } }

@media (max-width: 1220px) {
  .texConc1, .texConc3, .texConc5 {
    font-size: 1.60rem;
    padding-right: 10.25rem; }
  .texConc2, .texConc4, .texConc6 {
    font-size: 1.60rem;
    padding-left: 10.25rem; }
  .imgConc1, .imgConc2, .imgConc3, .imgConc4, .imgConc5, .imgConc6 {
    width: 250px;
    height: 250px;
    padding-bottom: 1.40rem; }
  .Conc1, .Conc2, .Conc3, .Conc4, .Conc5, .Conc6 {
    padding-top: 1.60rem;
    font-size: 1.40rem; } }

@media (max-width: 1180px) {
  .secConc1, .secConc2, .secConc3, .secConc4, .secConc5, .secConc6 {
    grid-template-columns: repeat(5, 9.53rem);
    grid-template-rows: repeat(2, 11rem);
    place-content: center; }
  .Conc1, .imgConc1, .Conc3, .imgConc3, .Conc5, .imgConc5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; }
  .texConc1, .texConc3, .texConc5 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 0; }
  .Conc2, .imgConc2, .Conc4, .imgConc4, .Conc6, .imgConc6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3; }
  .texConc2, .texConc4, .texConc6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 0; } }

@media (max-width: 790px) {
  .tituloConcierto {
    font-size: 3rem;
    place-content: center;
    padding: 0; }
  .texConc1, .texConc3, .texConc5, .texConc2, .texConc4, .texConc6 {
    font-size: 1.4375rem;
    padding: .625rem; }
  .secConc1, .secConc2, .secConc3, .secConc4, .secConc5, .secConc6 {
    grid-template-columns: repeat(2, 9.53rem);
    grid-template-rows: repeat(4, 11rem);
    place-content: center; }
  .Conc1, .imgConc1, .Conc3, .imgConc3, .Conc5, .imgConc5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center; }
  .texConc1, .texConc3, .texConc5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-right: 0; }
  .Conc2, .imgConc2, .Conc4, .imgConc4, .Conc6, .imgConc6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center; }
  .texConc2, .texConc4, .texConc6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-left: 0; } }

@media (max-width: 430px) {
  .texConc1, .texConc2, .texConc3, .texConc4, .texConc5, .texConc6 {
    font-size: 1.3375rem; } }

@media (max-width: 1280px) {
  .disc1-2, .disc3-4, .disc5-6, .disc7-8, .disc9-10 {
    grid-template-columns: repeat(5, 9.53rem);
    grid-template-rows: repeat(4, 11rem); }
  .textDiscUno, .textDiscDos, .textDiscTres, .textDiscCua, .textDiscCin, .textDiscSei, .textDiscSie, .textDiscOch, .textDiscNue, .textDiscDie {
    font-size: 1.30rem; }
  .imgDiscUno, .imgDiscTres, .textDiscCin, .imgDiscSie, .imgDiscNue {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3; }
  .textDiscUno, .textDiscTres, .imgDiscCin, .textDiscSie, .textDiscNue {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; }
  .imgDiscDos, .imgDiscCua, .imgDiscSei, .imgDiscOch, .imgDiscDie {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5; }
  .textDiscDos, .textDiscCua, .textDiscSei, .textDiscOch, .textDiscDie {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5; }
  .textDiscCin {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; }
  .imgDiscCin {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3; } }

@media (max-width: 920px) {
  .disc11 {
    grid-template-columns: repeat(5, 9.53rem);
    grid-template-rows: repeat(2, 11rem); }
  .textDiscOnc {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 1.30rem; }
  .imgDiscOnc {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3; } }

@media (max-width: 800px) {
  .TituloDisc {
    font-size: 3rem;
    place-content: center;
    padding: 0; }
  .disc1-2, .disc3-4, .disc5-6, .disc7-8, .disc9-10 {
    grid-template-columns: repeat(2, 9.53rem);
    grid-template-rows: repeat(8, 11rem); }
  .imgDiscUno, .imgDiscTres, .textDiscCin, .imgDiscSie, .imgDiscNue {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; }
  .textDiscUno, .textDiscTres, .imgDiscCin, .textDiscSie, .textDiscNue {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 0; }
  .imgDiscDos, .imgDiscCua, .imgDiscSei, .imgDiscOch, .imgDiscDie {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    padding: 0; }
  .textDiscDos, .textDiscCua, .textDiscSei, .textDiscOch, .textDiscDie {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-top: 5.625rem; }
  .textDiscCin {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5; }
  .imgDiscCin {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; }
  .disc11 {
    grid-template-columns: repeat(2, 9.53rem);
    grid-template-rows: repeat(4, 11rem);
    text-align: center; }
  .textDiscOnc {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    text-align: center; }
  .imgDiscOnc {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; } }
