.iconosRedes ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    border: none;
    text-align: center;
    justify-content: space-around;
    list-style-type: none;
    flex-direction: row;
    // padding: 0, 0, 80px, 80px;  
    margin: 0 auto;
    padding: 0;
    
    
    ul li img {
        margin: 0 auto;
        padding: 0;
        padding-top: .625rem;
        max-width: 1.875rem;
        max-height: 1.875rem;
    }
    .iconosRedes {
        align-content: end;
        margin: 0 auto;
        padding: 0 auto;
    }
    }