.historiaDos {
    display: grid;
    grid-template-columns: repeat(5 ,10.5rem);
    grid-template-rows: repeat(3 ,10.5rem);
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px  black;

    h2 {
        @include Grids (1, 6, 1, 2);
        color: white;
        align-self:end;
        justify-self: center;
        padding-bottom: .5125rem;
        font-size: 3.5625rem;
    }

    p {
        @include Grids (1, 6, 2, 4);
        color: white;
        text-align: justify;
        font-size: 1.7625rem;
    }
}