.TituloDisc {
    @include estilosDeTexto (white, flex, center, center, 50vh, none, 3.5rem, none , 1.25rem) ;
    border-radius: .625rem;
    text-shadow: 3px 3px  black;
    padding-left: 50%;
    font-size: 4rem;
}

.disc1-2, .disc3-4, .disc5-6 , .disc7-8,  .disc9-10 {
    display: grid;
    background-color: $ColorFondo;
    margin: 1.25rem;
    border-radius: 20px 20px 20px 20px;
    grid-template-columns: repeat(8 ,9.53rem);
    grid-template-rows: repeat(2 ,11rem);
    justify-content: center;
}

span {
    display: block;
    font-size: 1.2em;
    padding-bottom: 1rem;
    text-shadow: 2px 2px  black;
}

.textDiscUno, .textDiscDos, .textDiscTres, .textDiscCua, .textDiscCin, .textDiscSei, .textDiscSie, .textDiscOch, .textDiscNue, .textDiscDie   {
    font-size: 1.50rem;
    align-self: center;
    text-align: center;
    color: white;
    
}
.imgDiscUno, .imgDiscDos, .imgDiscTres, .imgDiscCua , .imgDiscCin, .imgDiscSei,.imgDiscSie, .imgDiscOch ,.imgDiscNue, .imgDiscDie  {
    align-self: center;
    justify-self: end;
}
.textDiscUno {
    @include Grids (1, 3, 1, 3);
    padding-right: .3125rem;
}
.imgDiscUno {
    @include Grids (3, 5, 1, 3);
}
.textDiscDos {
    @include Grids (7, 9, 1, 3);
    padding-left: .3125rem;
}
.imgDiscDos {
    @include Grids (5, 7, 1, 3);
}
// separador
.textDiscTres {
    @include Grids (1, 3, 1, 3);
    padding-right: .3125rem;
}
.imgDiscTres {
    @include Grids (3, 5, 1, 3);
}
.textDiscCua {
    @include Grids (7, 9, 1, 3);
    padding-left: .3125rem;
}
.imgDiscCua {
    @include Grids (5, 7, 1, 3);
}

// separador

.textDiscCin {
    @include Grids (1, 3, 1, 3);
    padding-right: .3125rem;
}
.imgDiscCin {
    @include Grids (3, 5, 1, 3);
}
.textDiscSei {
    @include Grids (7, 9, 1, 3);
    padding-left: .3125rem;
}
.imgDiscSei {
    @include Grids (5, 7, 1, 3);
}

// separador
.textDiscSie {
    @include Grids (1, 3, 1, 3);
    padding-right: .3125rem;
}
.imgDiscSie {
    @include Grids (3, 5, 1, 3);
}
.textDiscOch {
    @include Grids (7, 9, 1, 3);
    padding-left: .3125rem;
}
.imgDiscOch {
    @include Grids (5, 7, 1, 3);
}

// separador
.textDiscNue {
    @include Grids (1, 3, 1, 3);
    padding-right: .3125rem;
}
.imgDiscNue {
    @include Grids (3, 5, 1, 3);
}
.textDiscDie {
    @include Grids (7, 9, 1, 3);
    padding-left: .3125rem;
}
.imgDiscDie {
    @include Grids (5, 7, 1, 3);
}

// separador
.disc11 {
    display: grid;
    background-color:$ColorFondo;
    margin: 1.25rem;
    border-radius: 20px 20px 20px 20px;
    grid-template-columns: repeat(8 ,9.53rem);
    grid-template-rows: repeat(2 ,11rem);
    justify-content: center;
}

.textDiscOnc {
    @include Grids (2, 6, 1, 3);
    padding-left: .3125rem;
    font-size: 1.60rem;
    align-self: center;
    text-align: right;
    padding-right: .3125rem;
    color: white;
}
.imgDiscOnc {
    @include Grids (5, 8, 1, 3);
    align-self: center;
    justify-self: end;
    padding-left: .3125rem;
}



// estilosDeTexto ( $color, $display ,$justify, $aling, $width, $height, $font , $padding, $margin ) {