    @-webkit-keyframes rotate-center {
        0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        }
        100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
    }
    @keyframes rotate-center {
        0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        }
        100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
    }
    

@-webkit-keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        }
        100% {
        -webkit-transform: translateZ(160px);
                transform: translateZ(160px);
        }
    }
    @keyframes slide-fwd-center {
        0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        }
        100% {
        -webkit-transform: translateZ(160px);
                transform: translateZ(160px);
        }
    }
    