
.mainPremio {
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 2.25rem;
}

.tituloPremio  {
    @include estilosDeTexto (white, flex, center, center, 50vh, 0, 3.5rem, 1.25rem,0 );
    border-radius: .625rem;
    text-shadow: 3px 3px  black;
    padding-left: 50%;
    font-size: 4rem;
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}       


// ( $color, $display ,$justify, $aling, $width, $height, $font , $padding, $margin )

.premios1-2, .premios3-4, .premios5-6 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8 ,9.53rem);
    grid-template-rows: repeat(2 ,8.25rem);
    border-radius: 20px 20px 20px 20px;
    margin: 1.25rem; 
}

.premioUno, .texPremioUno, .premioDos, .texPremioDos, .premioTre, .texPremioTre, .premioCua, .texPremioCua, 
.premioCin, .texPremioCin, .premioSei, .texPremioSei  {
    color: white;
    padding-left: 2.3125rem;
    text-align: justify;
    margin-right: .625rem;
    text-shadow: 2px 2px  black;
}

//separador 

.premioUno,.premioTre, .premioCin  {
    @include Grids (1, 6, 1, 3);
    justify-self: start;
    font-size: 1.9rem;
}

.texPremioUno, .texPremioTre, .texPremioCin {
    @include Grids (1, 5, 1, 3);
    justify-self: center;
    font-size: 1.40rem;
    align-self: flex-end;
}

.premioDos, .premioCua, .premioSei  {
    @include Grids (5, 9, 1, 3);
    justify-self: start;
    font-size: 2rem;
}

.texPremioDos, .texPremioCua, .texPremioSei  {
    @include Grids (5, 9, 1, 3);
    justify-self: center;
    font-size: 1.40rem;
    align-self: flex-end;
}
