.textoInicio {
    background-color: rgba(0, 0, 0, 0.712);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: space-evenly; 
    padding: 0; 
}

.textoInicio h1 {
    @include estilosDeTexto(white, flex, center, center, 50%, none, 6.75rem, none, none);
    padding-right: 0; 
    padding-left: 0; 
}

.Taylor-estrella {
    @include estilosDeTexto(none, flex, flex-end, none, 21.875rem, 21.875rem, none, none, none);
    // margin-left: 100px; 
    // padding-right: 1.875rem;
}
