.videoTaylor {
    padding-top: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    background-color: $ColorFondo;
    width: 100%; 
    align-items: center;
    overflow-x: hidden; 
}

    iframe {
        padding-left: 40px;
    }
    div {
        align-self: start;
        h2 {
            padding-top: 1.875rem;
            font-size: 3.5rem;
            color: white;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 1.25rem;
        }
        p { 
            @include estilosDeTexto(white, flex ,center, justify, 95%, 0, 1.875rem, 0, 0 );
            padding-left: 1.25rem;
            text-align: center;
            
        }
    } 
