@media (max-width: 920px) {
    .disc11{
        grid-template-columns: repeat(5 ,9.53rem);
        grid-template-rows: repeat(2 ,11rem);
    }

    .textDiscOnc {
        @include Grids (1, 4, 1, 3);
        font-size: 1.30rem;
    }
    .imgDiscOnc {
        @include Grids (4, 6, 1, 3);
    }
}