@media (max-width:430px) {
    .introHistoria {
        div {
            grid-template-columns: repeat(2, 13.5rem);
            grid-template-rows: repeat(5, 10.5rem);
            p {
                @include Grids(1, 3, 4, 6);
                font-size: .8125rem;
                justify-content: center;
                align-content: center;
                padding: 0;
                max-width: 100vw;
            }
        }
    }
}