
@media (max-width:691px) {

    .Taylor-estrella {
        display: block; 
        margin: 0 auto; 
        justify-self: center; 
        align-self: center;   
        width: 18.6875rem;
        height: 18.6875rem;
        padding-left: 0; 
    }
    

    .textoInicio h1 {
            font-size: 3.25rem;
    }

    .circulos {
            display: flex;
            flex-direction: column; 
            padding: 2.3125rem;
    }
    
    .circulo1 {
            width: 15.125rem;
            height: 15.125rem;
    }

    .circulo2 {
            width: 15.125rem;
            height: 15.125rem;
    }

    .videoTaylor {
        height: 31.5rem ;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        justify-items: center;

            div iframe{
            display: block;
            width:760; 
            height:515;
            justify-content: center; 
            align-items: center;
                } 
            p{
                padding-bottom: 6.25rem;
                margin: 0;
            }
    }







    .cuadrado {
        padding:0
    } 

.textoInicio h1 {
    display: none;
}
.encabezadoIndex li:nth-child(1) { 
    display: none;
}
.encabezadoIndex li:nth-child(2) { 
    display: none;
}
.encabezadoIndex li:nth-child(4) { 
    display: none;
}
.encabezadoIndex li:nth-child(5) { 
    display: none;
}
.taylorGrande {
    display: block;
}
.Taylor-estrella {
    width: 16.6875rem; 
    height: 16.6875rem;
    display: block; 
    margin: 0 auto; 
    justify-self: center; 
    align-self: center;   
    padding-left: 0; 
    
    
    
    }
}