@media (max-width:1245px) {
    .videoTaylor {
        overflow-x: hidden; 
        width: 100%;
    }
        iframe {
            padding-left: 40px;
        }
        div {
            align-self: start;
            h2 {
                font-size: 3rem;
            } 
            p { 
                font-size: 1.7rem;
            }
        
    } 
    body {
        overflow-x: hidden;
    }
} 