@media (max-width:938px) {
    .videoTaylor {
    div {
    iframe {
            width: 31.25rem;
            height: 15.9375rem;
            }
        }
        .videoTaylor {
            overflow-x: hidden; 
        }
            iframe {
                padding-left: 40px;
            }
            div {
                align-self: start;
                padding-top: 0 ;
                margin: 0  ;
                justify-self: start;
                h2 {
                    padding-top: 15px;
                }
            
        } 
    }
}
